.card{
    display: flex;
    border: 1px solid black;
    width: 800px;
    margin: auto;
}

.card > * {
    margin: 20px;
    padding: 10px;
}

.names{
    color: orange;
}

.rating{
    color: green;
}

